body {
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}
.flexbox {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.select-car {
  background-color: bisque;
  margin: 8px;
  padding: 8px;
  width: 50%;
}

.button {
  margin-left: 8px;
  color: aqua;
}
