@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito|Open+Sans&display=swap');

body {
  background-color: #ffffff;
  margin: 8px
}

h1 {
  font-family: 'Nunito', sans-serif;
  color: #132f2b;
  margin-left: 16px;
  margin-right: 16px;
  font-weight: bolder;
}

h3 {
  font-family: 'Nunito', sans-serif;
  color: #196b69;
  margin-left: 16px;
  margin-right: 16px;
  font-weight: bolder;
}

p {
  font-family: 'Courier New', sans-serif;
  margin-left: 16px;
  margin-right: 16px;
  color: #132f2b;
}

label {
  font-family: 'Courier New', sans-serif;
  margin-left: 16px;
  margin-right: 16px;
  color: #132f2b;
}

.flexbox {
  display: flex;
  flex-direction: row;
  padding: 4px;
}

.flexbox2 {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.select-car {
  border-radius: 4px;
  margin: 8px;
  padding: 4px;
  width: 50%;
  border: 2px solid #196b69;
  transition-duration: 0.4s;
}

.select-car:hover {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-primary {
  font-family: 'Courier New', sans-serif;
  font-weight: bold;
  border-radius: 8px;
  font-size: 20px;
  margin-left: 8px;
  margin-top: 8px;
  padding: 10px 24px;
  background-color: #196b69;
  border: 2px solid #196b69;
  color: #ddfee4;
  transition-duration: 0.4s;
}

.button-primary:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-secondary {
  font-family: 'Courier New', sans-serif;
  font-weight: bold;
  color: #132f2b;
  border-radius: 8px;
  font-size: 20px;
  margin-left: 8px;
  margin-top: 8px;
  padding: 10px 24px;
  border: 2px solid #196b69;
  transition-duration: 0.4s;
}

.button-secondary:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.dropdown {
  position: relative;
  height: 24px;
  margin-left: 8px;
}

.options-box {
  background-color: #28cc9e;
  border-radius: 4px;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 4px;
  border: 2px solid #196b69;
}

