@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito|Open+Sans&display=swap');

body {
  background-color: #ffffff;
  margin: 8px
}

h1 {
  font-family: 'Nunito', sans-serif;
  color: #132f2b;
  margin-left: 16px;
  margin-right: 16px;
  font-weight: bolder;
  padding: 0;
  margin-bottom: 2px;
  margin-top: 2px;
}

h3 {
  font-family: 'Nunito', sans-serif;
  color: #132f2b;
  margin-left: 16px;
  margin-right: 16px;
  font-weight: bolder;
  margin-bottom: 2px;
  margin-top: 2px;
}

p {
  font-family: 'Courier New', sans-serif;
  margin-left: 16px;
  margin-right: 16px;
  color: #132f2b;
}

label {
  font-family: 'Courier New', sans-serif;
  color: #132f2b;
  margin-left: 16px;
  margin-right: 16px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  padding: 4px;
}

.flexbox2 {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.select-car {
  border-radius: 4px;
  margin: 8px;
  padding: 4px;
  width: 50%;
  border: 2px solid #196b69;
  transition-duration: 0.4s;
}

.select-car:hover {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-primary {
  font-family: 'Courier New', sans-serif;
  font-weight: bold;
  border-radius: 8px;
  font-size: 20px;
  margin-left: 8px;
  margin-top: 8px;
  padding: 10px 24px;
  background-color: #196b69;
  border: 2px solid #196b69;
  color: #ddfee4;
  transition-duration: 0.4s;
}

.button-primary:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-secondary {
  font-family: 'Courier New', sans-serif;
  font-weight: bold;
  border-radius: 8px;
  font-size: 20px;
  margin-left: 8px;
  margin-top: 8px;
  padding: 10px 24px;
  color: #196b69;
  border: 2px solid #196b69;
  transition-duration: 0.4s;
}

.button-secondary:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-unit {
  float: left;
  border-radius: 8px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #196b69;
  border: 2px solid #196b69
}

.button-unit:active {
  background-color: #196b69;
  color: #ddfee4;
}

.dropdown {
  position: relative;
  height: 24px;
  margin-left: 8px;
}

.results {
  background-color: #ddfee4;
  border-radius: 4px;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 4px;
  border: 2px solid #28cc9e;
}

.custom-select {
  position: relative;
  font-family: Arial;
  width: 200px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

